/* Footer*/
footer {
    padding: 30px 50px 0 70px;
    background: url(/Images/footer-bg.jpg);
}
.social-list {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    padding: 20px 0px 20px 0px;
    margin: 0;
    align-items: flex-start;
    font: 14px;
    font-weight: 600px;
}

.social-list > li {
    padding-right: 3rem;
}

.social-list > li > a {
    color: #838383;
    text-decoration: none;
}

.social-list > li > a:hover {
    color: #ff2a6b;
}

.col-auto1 {
    text-align: right;
}

.copyright {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    /* padding: 20px 50px 20px 0px; */
    /* margin-right: 0; */
    justify-content: flex-end;
    font: 14px;
    font-weight: 600px;
}

/* .copyright > ul {
    margin-right: -2rem;
} */

.copyright > li {
    padding-left: 3rem;
}

.copyright > li > a:hover {
    color: #ff2a6b;
}

.copyright > li > a {
    color: black;
    font-weight: 500;
    font: 14px;
    text-decoration: none;
}

.footer1 {
    justify-content: space-between;
    /* padding: 0 30px; */
}
