 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading {
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    align-items: center;
    padding: 60px 0;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.heading > li {
    margin-bottom: 0.75rem;
}

h1 {
    color: white;
    background-color: #ff2a6b;
    max-width: 800px;
    text-align: center;
    padding: 5px 30px 5px 30px;

    border-radius: 4px;
    margin: 0 auto;
    font-size: 72px;
    font-weight: 700;
    box-shadow: -1px -5px 20px 0px rgba(0, 0, 0, 0.3);
    opacity: 1;

    animation-name: zoom;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

h2 {
    color: white;
    background-color: #fdc856;
    max-width: 600px;
    text-align: center;
    padding: 5px 30px 5px 30px;
    margin-bottom: 1rem;
    box-shadow: -1px -5px 20px 0px rgba(0, 0, 0, 0.3);
    opacity: 1;

    border-radius: 4px;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 700;

    animation-name: zoom;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

h3 {
    color: white;
    background-color: #bdde64;
    max-width: 400px;
    text-align: center;
    padding: 5px 30px 5px 30px;

    box-shadow: -1px -5px 20px 0px rgba(0, 0, 0, 0.3);
    opacity: 1;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 700;

    animation-name: zoom;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}

.hero {
    padding: 70px 0;
    height: 650px;
    background: url(/Images/slider-bg-2.jpg);
}

.latest-recipies {
    padding: 96px 0px 96px 0px;
}

h4 {
    font-size: 36px;
    color: #474747;
    font-weight: bold;
}

.latest-recipies_list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    margin: 40px -60px 0px -55px;
}

.latest-recipies_line {
    width: 56px;
    height: 5px;
    background-color: #ff2a6b;
    clip-path: polygon(0 1%, 100% 0, 90% 100%, 0% 100%);
}

.latest-recipies_list > li {
    width: 33.333333%;
    padding: 15px;
}
.recipies-list {
    position: relative;
    width: 361.99px;
    height: 311.3px;
}

.recipies-list > img {
    width: 100%;
    vertical-align: middle;
}

.recipies-list-content {
    position: absolute;
    bottom: 0;
    left: 0px;

    width: 80%;
    padding: 10px 15px;
    background-color: #ff2a6b;
    clip-path: polygon(0 1%, 100% 0, 90% 100%, 0% 100%);
}

h5 {
    font-size: 15px;
    color: white;
}

.recipies-list-star {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    padding: 0 0 0 0px;
}

.recipies-list-star > li {
    color: yellow;
    list-style-type: none;
    font-size: 9px;
    padding: 0 3px 0 3px;
}
