.hero1 {
    height: 40rem;
    background: url(/Images/recipes/single-big.jpg);
}

#recipes-details a {
    font-weight: bold;
    color: #ff2a6b;
}

.rdetail-block-2 {
    padding: 4rem 0 0rem 0;
}

.rdetail-block-2__title {
    width: 100%;
    height: max-content;
}

.rdetail-block-2__level {
    width: 100%;
    height: max-content;
    position: relative;
    overflow: hidden;

    margin-bottom: 0rem;
}

.rdetail-block-2__title > h2 {
    font-size: 36px;
    font-weight: 500px;
    color: #474747;
    margin-bottom: 0;
}

.rdetail-block-2__title > p {
    color: #838383;
    font-size: 14px;
    margin-bottom: 25px;
}

.rdetail-block-2__level > p {
    background-color: #ff2a6b;
    width: 9rem;
    height: max-content;
    padding: 0.5rem;
    clip-path: polygon(0 1%, 100% 0, 90% 100%, 0% 100%);

    color: white;
}

.rdetail-block-2__title > ul.recipies__star {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    padding: 10px 0 20px 0;
}

.rdetail-block-2__title > ul.recipies__star > li {
    color: #fbb710;
    font-size: 9px;
    padding: 0 3px 0 3px;
    font-size: 15px;
}

.rdetail-block-2__row {
    width: 100%;
}

.rdetail-block-2__col1 {
    width: 100%;
}

.rdetail-block-2__col2 {
    width: 100%;
    height: max-content;
    padding: 2rem 1rem;
}

@media only screen and (min-width: 992px) {
    .rdetail-block-2__row {
        display: flex;
        flex-flow: row nowrap;
    }

    .rdetail-block-2__col1 {
        width: 40%;
        padding-bottom: 3rem;
    }

    .rdetail-block-2__col2 {
        width: 60%;
        padding: 0 1rem 3rem 1rem;
    }
}

.rdetail-block-2__coverlist {
    width: 100%;
    height: max-content;
    padding-bottom: 3.5rem;
    background-color: whitesmoke;
}

.rdetail-block-2__cookingtime {
    width: 100%;
    position: relative;
    overflow: hidden;

    color: white;
}

.rdetail-block-2__cookingtime > ul {
    display: flex;
    flex-flow: column;
    list-style-type: none;

    width: 70%;
    height: max-content;
    padding: 1.5rem 0 1.5rem 1.5rem;

    background-color: #ff2a6b;
    clip-path: polygon(0 1%, 100% 0, 90% 100%, 0% 100%);
}

.rdetail-block-2__cookingtime > ul > li {
    z-index: 2;
}

.redetail-block-2__list {
    padding: 1.5rem 3rem;
}

.rdetail-block-2__formgroup {
    margin-top: 2rem;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    padding-left: 3rem;
    position: relative;
}

input[type="checkbox"] + label::before {
    content: "";
    width: 27px;
    height: 27px;
    border: 1px solid #aaaaaa;

    position: absolute;
    top: 3px;
    left: 0;
}

input[type="checkbox"]:checked + label::before {
    background-color: #ff2a6b;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    width: 7px;
    height: 17px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;

    transform: rotate(45deg);

    position: absolute;
    top: 6px;
    left: 10px;
}

.rdetail-block-2__col2 > ol {
    list-style-type: none;
}

.rdetail-block-2__col2 > ol > li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    margin-bottom: 0rem;
}

.rdetail-block-2__col2 > ol h2 {
    font-size: 2rem;
    margin-right: 1rem;
}

.rdetail-block-2__col2 > ol p {
    padding-top: 1rem;
    color: #838383;
}
